body{
    margin: 0 auto;
}

p{
    text-align: justify;
}

/* Override for mobile screens */
@media (max-width: 600px) {
    p {
        text-align: left; /* or any other alignment you prefer */
    }
}
